<p>Select an editor mode:</p>
<div>
  <input type="radio" id="webpage" name="webpage" value="webpage" [(ngModel)]="editorMode" />
  <label for="webpage">Webpage</label>
</div>
<div>
  <input type="radio" id="newsletter" name="newsletter" value="newsletter" [(ngModel)]="editorMode" />
  <label for="newsletter">Newsletter</label>
</div>
<div class="editor">
  @if (editorMode === 'newsletter') {
    <ngx-grapes-newsletter-editor [template]="template" [placeholders]="placeholders" />
  } @else if (editorMode === 'webpage') {
    <ngx-grapes-webpage-editor [template]="template" />
  }
</div>
