<p>Select an editor mode:</p>
<div>
  <input type="radio" id="webpage" name="webpage" value="webpage" [(ngModel)]="editorMode">
  <label for="webpage">Webpage</label>
</div>
<div>
  <input type="radio" id="newsletter" name="newsletter" value="newsletter" [(ngModel)]="editorMode">
  <label for="newsletter">Newsletter</label>
</div>
<div class="editor">
  <ngx-grapes-newsletter-editor *ngIf="editorMode === 'newsletter'" [template]="template" [placeholders]="placeholders"></ngx-grapes-newsletter-editor>
  <ngx-grapes-webpage-editor *ngIf="editorMode === 'webpage'" [template]="template"></ngx-grapes-webpage-editor>
</div>
